####################################################################
[ req ]
prompt              = no
default_bits        = 4096
default_md          = sha256
distinguished_name  = assigned_dn
####################################################################
[ assigned_dn ]
C                   = OPENSSL_COUNTRY_CODE
ST                  = OPENSSL_STATE
L                   = OPENSSL_LOCALITY
O                   = OPENSSL_ORG
OU                  = OPENSSL_UNIT
CN                  = OPENSSL_COMMON_NAME
